{{{body}}}
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" action="/form_insertS" method="get">
      <div class="text-end">
        <button type="submit" class="btn btn-light text-dark me-2">Cadastrar</button>

      </div>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome Completo</th>
      <th>Idade</th>
      <th>Data de Nascimento</th>
      <th>Sexo</th>
      <th>Genitora</th>
      <th>Genitor</th>
      <th>Facção</th>
      <th>Artigos</th>
      <th>Rua</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Check me out</th>
    </tr>
  </thead>
  <tbody>
    {{#each dadosS}}
    <tr>
      <td>{{nomeCompleto}}</td>
      <td>{{idade}}</td>
      <td>{{dataNascimento}}</td>
      <td>{{sexo}}</td>
      <td>{{genitora}}</td>
      <td>{{genitor}}</td>
      <td>{{faccoes}}</td>
      <td>{{artigos}}</td>
      <td>{{rua}}</td>
      <td>{{numero}}</td>
      <td>{{bairro}}</td>
      <td>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" {{#if checkMeOut}}checked{{/if}}>
        </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>